@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Yesteryear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.4)), url(../images/brooke-lark-jUPOXXRNdcA-unsplash.jpg);
    height: 800px;
    background-size:cover ;
    text-align: center;
    margin-top: -289px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
nav{
    position: sticky;
    top: 0;
    transition: all 0.4s ease-in-out;
}
.logo{
    color:white;
    font-size: 40px;
    font-family: 'Yesteryear',cursive;
    font-weight: 400;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
    align-items: center;
   
}
.menu{
    display: flex;
            flex-direction: row;
            list-style-type: none;
            list-style: none;
        li{
            display: inline-block;
            font-family: 'Oswald', sans-serif;
            text-transform: uppercase;
            font-size: 18px;

            a{
                text-decoration: none;
                color: white;
                padding-left: 10px;
                padding-right: 10px;
                transition: color 0.3s ease-in-out;
                &:hover{
                    color: #F2AC32;
                }
            }
            .mybag{
                font-size: 26px;
            }
            .search{
                margin-left: 20px;
                margin-right: 20px;
            }
        }
}
.header-title1{
    color:#F2AC32;
    font-size: 44px;
    font-family: 'Rochester', cursive;
    margin-top: 170px;
    margin-bottom: 15px;
}
.header-title2{
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size: 55px;
    letter-spacing: 6px;
    margin-bottom: 30px;
}
.header-cta-btn{
    color:white;
    background-color: #F2AC32;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: #d18400;
      }
}


/* ------------------------header when scrolling------------------------------- */
nav.scrolled {
    background-color: black;
    z-index: 2;
    padding: 20px 40px;
    
   }

/* ------------------------menu-button------------------------------ */
.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }
  @media (max-width: 762px) {
    .menu-button-container {
        display: flex;
      }
      .menu {
        backdrop-filter: blur(10px); /* ------- */
        position: absolute;
        top: 0;
        margin-top: 85px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
        li a{
            color:#F2AC32;
        }
      }
      #menu-toggle ~ .menu li {
        // visibility: hidden;
       
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
       
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        a{
            visibility: hidden;
           
        }
      }
      #menu-toggle:checked ~ .menu li {
        // visibility:visible;
        // border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
       
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        a{
            visibility:visible;
        }
      }
      .menu li:hover{
        background-color:#ffffff0d;
        a{
            color:black;
        }
      }
      .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
      
        // background-color: #222;
      }
      .menu > li:not(:last-child) {
        border-bottom: 1px solid #444;
      }
}
/* ----------------------menu-button-------------------------------- */

 /* ------------discover-sections ------ */
 .discavor-section{
    text-align: center;
    background-color: #F2F2F2; 
    display: flex;
    justify-content: center;
    padding: 100px;
    flex-wrap: wrap;
    gap: 40px;
    
 
        h1{
            font-family: 'Rochester', cursive;
            color: #F2AC32;
            margin-bottom: 15px ;
        }
        h2{
            font-family: 'Oswald', sans-serif;
            font-size: 30px;
            letter-spacing: 2px;
        }
        p{
            color:rgb(99, 99, 99);
            font-size: 16px;
            margin-bottom: 20px ;
            font-family: 'Oswald', sans-serif;
        }
        a{
            color: #F2AC32;
            font-size: 16px;
            text-decoration: none;
        }
  }
  
   .food-item{
    height: 400px;
    width: 240px;
   /*  margin:0px 20px; */
    text-align: center;
   }

   .food-border{
    border: 2px solid #F2AC32;
    position: relative;


    .food-overlay{
        background-color: white;
     position: absolute;
     right: 20px;
     top:20px;
     padding : 100px 10px 0 10px;
     width: 100%;
     height: 100%;
     box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
    }
   }



   .food-1{
    background-position: center;
    background-image: url(../images/img2.jpg);
    background-size: cover;
    margin-top: -30px;
    box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
   }
   .food-2{
    background-position: center;
    background-image: url(../images/img3.jpg);
    background-size: cover;
    box-shadow: -3px 3px 23px 0px rgba(0,0,0,0.75);
   }
   @media screen and (max-width: 999px) {
    .discavor-section{
        align-items: center; /* This centers the content vertically */
        flex-wrap: wrap;
        gap: 40px;
        flex-direction: column;
        padding: 100px 0px;

    }
       .food-item{
    height: 400px;
    width: 340px;
   /*  margin:0px 20px; */
    text-align: center;
   }
    .food-1{
        margin: 0;
    }
 
   }
  /*  --------------------------------- */
  .specialites-section{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.8)), url(../images/backgound2.jpg);
    padding: 100px 0px;
    background-size:cover ;
    h1{
        font-family: 'Rochester', cursive;
        color: #F2AC32;
        margin-bottom: 15px ;
        font-size: 40px;
    }
    h2{
        font-family: 'Oswald', sans-serif;
        font-size: 50px;
        letter-spacing: 2px;
        color: white;
        margin-bottom: 80px;
    }
  }

  .specialities-row{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    .specialities-col{
        width: 350px;
    }
    img{
        width: 100%;
        height: 250px;
    }
    h3{
        font-size: 26px;
        color: white;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
        /* margin-bottom: 80px; */ /* problem fix later*/
    }
  }
  .specialities-img{
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
  }
  .specialities-img1{
    background-image: url(../images/breakfast.jpg);
  }
  .specialities-img2{
    background-image: url(../images/Dinner.jpg);
  }
  .specialities-img3{
    background-image: url(../images/lunch.jpg);
  }
  .specialities-img::before {
    content: "View Full Service";
    position: absolute;
    background-color: rgba(242, 172, 50, 0.7);
    font-size: 26px;
    color: white;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    height: 100%;
    width: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
    opacity: 0;  
    transition: opacity 0.3s;  
  }
  .specialities-img::after{
    content: "";
    position: absolute;
    border: 2px solid white;
    width:93%;
    height: 93%;
  
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;  
    transition: opacity 0.3s;  
  }
  
  .specialities-img:hover::before ,.specialities-img:hover::after {
    opacity: 1;  
  }
/*   .specialites-middle{
    height: 400px;
    width: 100%;
  } */
 
.specialites-middle{
    position: relative;
    padding-bottom: 100px;
}
.specialites-middle::before{
    content: '';
    position: absolute;
    border-top: 100px solid #F2F2F2 ;
    border-right:  96.8vw solid transparent;
    top: -100px;
    left: 0;
}
.specialites-middle::after{
    content: '';
    position: absolute;
    border-bottom: 100px solid #F2F2F2 ;
    border-left: 100vw solid transparent;
    bottom: -100px;
    right: 0;
}


/* ------------------- */
.SPECIAL-MENU-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
}
.SPECIAL-MENU-row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.SPECIAL-MENU-row2{
    flex-wrap: wrap-reverse;
}
.SPECIAL-MENU{
    text-align: center;
    background-color: #F2F2F2;
    padding: 50px;
    h1{
        font-family: 'Rochester', cursive;
        color: #F2AC32;
        margin-bottom: 15px ;
        font-size: 40px;
    }
    h2{
        color: black;
        margin-bottom: 50px ;
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
    }

}
.SPECIAL-MENU-col{
    width: 50%; 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.col-large{
    width: 50%; 
    height: 450px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
}
.col-large-1,.col-large-3 {
    color: white;
    justify-content: center;
    background-color: #F2AC32;
    i{
        width: 100% ;
        font-size: 50px;
        margin-bottom: 10px;
    }
    .separator{
        display: inline-block;
        width: 40px;
        border-bottom: 2px solid white;
        margin: 15px auto;
    }
    h3{
        width: 100%;
        font-family: 'Rochester', cursive;
        font-size: 22px;
        letter-spacing: 2px;
    }
    h4{
        font-family: 'Oswald', sans-serif;
        letter-spacing: 3px;
        width: 100%;
    }
    p{
        font-family: 'Oswald', sans-serif;
        font-size: 14px;
        padding: 30px 20px;
        width: 100%;
    }
} 

.col-large-2{
    background-image: url(../images/ice\ Cream.jpg);
    background-size: cover;
    background-position: center;
}
.col-large-4{
    background-image: url(../images/Kebab.jpg);
    background-size: cover;
    background-position: center;
}
/* ------------------------ */
.col-small{
    width: 50%;
    height: 225px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}
.col-small-1{
    background-color: #fff;
    i{
        color: #F2AC32;
        width: 100% ;
        font-size: 50px;
         
    }
    .separator{
        display: inline-block;
        width: 40px;
        border-bottom: 2px solid #F2AC32;
        margin: 15px auto;
    }
    h3{
        color: #F2AC32;
        width: 100%;
        font-family: 'Rochester', cursive;
        font-size: 22px;
        letter-spacing: 2px;
    }
    h4,h5{
        color: black;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 3px;
        width: 100%;
    }
    h5{
        color: #F2AC32;
        margin-top: 10px;
    }
}
.col-small-2{
background-image: url(../images/BURGER\ GRILLED.jpg);
background-size: cover;
background-position: center;
}
.col-small-3{
    background-image: url(../images/BURGER\ GRILLED.jpg);
    background-size: cover;
    background-position: center;
}

/* ----------------- */
.OUR-MENU-section{
    text-align: center;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/img4.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 50px;

}
.OUR-MENU-title{
    h1{
        font-family: 'Rochester', cursive;
        color: #F2AC32;
        margin-bottom: 15px ;
        font-size: 40px;
    }
    h2{
        color: rgb(255, 255, 255);
        margin-bottom: 50px ;
        font-size: 26px;
        font-family: 'Oswald', sans-serif;
    }
}

.foot-container{
    color: #fff;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 25px;
    h1{
        display: inline-block;
        text-transform: uppercase;
        font-size: 18px;
    }
    h3{
        font-weight: 400;
        font-size: 14px;
    }
    .food-price{
        color: #F2AC32;
        font-size: 25px;
 
    }
    .dots{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.our-menu-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    margin: 30px 0px;
}
.our-menu-col{
 
    width: 335px;
    
}
.our-menu-btn{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 10px 40px;
    letter-spacing: 2px;
    font-family: 'Oswald', sans-serif;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: rgba(255, 255, 255,0.8);
        color: black;
        padding: 10px 24px;
    }
}

/*  --------------Booking table----------------  */
.booking-Section{
    padding:100px;
    text-align: center;
    background-color: #F2F2F2;
    h1{
        font-family: 'Rochester', cursive;
        color: #F2AC32;
        margin-bottom: 15px ;
        font-size: 40px;
    }
    h2{
        color: rgb(0, 0, 0);
        margin-bottom: 50px ;
        font-size: 50px;
        font-family: 'Oswald', sans-serif;
        letter-spacing: 2px;
    }
}
.booking-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
} 
.booking-col{
    background-color: white;
    margin: 30px 15px;
    font-family: 'Oswald', sans-serif;
    .booking-icon{
        padding: 15px 20px;
        display: inline-block;
        border-right: 1px solid #F2F2F2;
    }
    .booking-data{
        padding: 0px 20px;
    }
}

.booking-cta{
    background-color: #F2AC32;
    color: #fff;
    text-decoration: none;
    padding: 15px 50px;
}



/* -----------------Footer secion-------------- */


footer{
    padding-top: 60px ;
    background:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../images/backgound2.jpg);
    background-size: cover;
    background-position: center;
    color: #F2F2F2;

}
.footer-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 60px;
}
.footer-col{
    margin: 30px 15px;
    font-family: 'Oswald', sans-serif;
    h3{
        color: #F2AC32;
        margin-bottom: 30px;
        font-weight: 400;
        font-size: 16px;
    }
    p{
        margin: 10px;
        font-size: 14px;
        
    }
}



.footer-email{
    padding: 10px 22px;
    width: 230px;
    height: 45px;
    margin-bottom: 15px;
}
.footer-subscribe{
    display: inline-block;
    width: 230px;
    color: #fff;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    background-color: #F2AC32;
    height: 45px;
    text-align: center;
    line-height:45px ;
}


.copyright{
    padding: 40px;
    color: #F2F2F2;
    font-size: 14px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    border-top: 1px solid rgba(242, 242, 242,0.425);
    span{
        color: #F2AC32;
    }
}
/* -----------------End Footer secion-------------- */

@media screen and (max-width: 767px) {
    .our-menu-row {
        flex-direction: column; /* Stack the columns vertically on smaller screens */
        align-items: center;
        width: 100%; /* Center the columns horizontally */
    }
    .OUR-MENU-section {
        padding: 150px 0px;
    }
 
}
 
@media screen and (max-width: 962px) {
    .SPECIAL-MENU-container {
        width: 100%; /* Make the container full width on smaller screens */
    }
     .SPECIAL-MENU-col {
        width: 100%; 
    }

 
 
}
@media screen and (max-width: 611px) {
 
    .SPECIAL-MENU {
        text-align: center;
        background-color: #F2F2F2;
      padding: 50px 0px;
    }
  
 
}

 
 
 